<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sender</title>
  <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
</head>
<body>

<div style="position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%)">
  <div th:if="${message}">
    <h2 th:text="${message}"/>
  </div>

  <form method="POST" enctype="multipart/form-data" action="/" class="pure-form">
    <table class="pure-table">
      <tr class="pure-menu-item"><td>Choose xml email file to upload:</td><td><input type="file" name="file" /></td></tr>
      <tr class="pure-menu-item"><td></td><td><input type="submit" value="Upload" class="pure-button"/></td></tr>
    </table>
  </form>

  <div>
    <ul>
      <li th:each="file : ${files}">
        <a th:href="${file}" th:text="${file}" />
      </li>
    </ul>
  </div>
</div>

</body>
</html>